body{
    background-color: rgb(54, 54, 52);
}

.container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

header{
    background-color: khaki;
    min-height: 100px;
}

main{
    background-color: rgb(173, 182, 231);
    min-height: 300px;
}

main button{
    margin: 3em;
    border-radius: .5em;
}