mo/* Desktop view */

body{
    margin: 0px;
}

.container{
    background-color: rgb(145, 119, 163);
    min-height: 500px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col{
    width: 30%;
    margin-bottom: 10px;
}

.col img{
    width: 100%;
    height: auto;
}

/* Tablate view */
@media (max-width : 768px){
   .col{
       width: 45%;
   }
}

/* Mobile view */
@media(max-width: 500px){
    .col{
        width: 100%;
    }
}