html{
    height: 100%;
}

body{
    background-image: linear-gradient(#fc5e55,#fa4083);
    font-family: Roboto;
    color: white;
    font-size: 1.125rem;
}

.container{
    width: 1000px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-buttons{
    margin-right: 10px;
}

div.control-buttons a{
    box-sizing: border-box;

    color: whitesmoke;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid white;
    padding: 12px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 2px;
    box-shadow: 6px 6px 6px rgb(78, 67, 48);
    margin-right: 0px;
}

main{
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card1{
    background-image: url(image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 3px 40px;
}

.card2{
    background-image: url(image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 3px 40px;
}

.card3{
    background-image: url(image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 250px;
    width: 30%;
    border-radius: 3px 40px;
}

.herobox1{
    flex: 2;
    padding-right: 2rem;
}

.herobox2{
    flex: 1;
}

main div h1{
    font-size: 4rem;
    color: whitesmoke;
    margin-bottom: 1.2rem;
    text-shadow: 3px 3px black;
}

main div p{
    font-size: 1rem;
    color: whitesmoke;
    ;
}

p{
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

div.cards div{
    text-align: center;
}

div.cards div h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#logo{
    border-radius: 3px 40px;
}

a#myButton{
    color: palevioletred;
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 3px;
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 7px;
    box-shadow: 6px 6px 6px rgb(78, 67, 48);
}

div.cards div i{
    margin-top: 10px;
    font-size: 80px;
}

div a{
    color: antiquewhite;
    text-decoration: none;
}